---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<div class="paper-list">
  <div class="paper-item">
    <div class="paper-info">
      <strong>Enhancing Multimodal Meteorological Data Resolution via Diffusion Model for Accurate PV Potential Estimation</strong><br>
      <strong>Jiaze Li</strong>, Zhiling Guo, Huan Zhao, Hongjun Tan, Qing Yu, Rui Zhang, Jian Xu, Jinyue Yan<br>
      <em>International Conference on Applied Energy (ICAE2024)</em>
    </div>
    <div class="paper-image">
      <img src="/ICAE2024.png" alt="ICAE2024" />
    </div>
  </div>

  <div class="paper-item">
    <div class="paper-info">
      <strong>A High-Precision Method for Photovoltaic Panel Segmentation Combining Large-Scale Model Prior Knowledge and Multimodal Information</strong><br>
      Lingchengjia Zhou, Kechuan Dong, Hongjun Tan, <strong>Jiaze Li</strong>, Qing Yu, Zhiling Guo, Jinyue Yan<br>
      <em>Applied Energy Symposium and Forum: Low-Carbon Cities and Urban Energy Systems(CUE2024)</em>
    </div>
    <div class="paper-image">
      <img src="/CUE2024.png" alt="CUE2024" />
    </div>
  </div>
  
  <!-- Add more papers here as needed -->
</div>

<style>
  .paper-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .paper-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .paper-info {
    flex: 1;
    font-size: 0.8em; /* 调整字体大小为90% */
    line-height: 1.5;
    padding-right: 20px;
  }
  
  .paper-image img {
    max-width: 200px; /* 调整图片宽度 */
    height: auto;
    border-radius: 8px;
  }

  /* Optional: Adjust the size of the h1 title */
  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
</style>

